<div class="outsider">
  <div class="title is-5">
    訊息
  </div>
  <div class="columns">
    <div class="column is-9">
      
      <table class="table is-fullwidth is-hoverable dark-table">
        <thead>
          <tr>
            <th>您收到的訊息</th>
            <th>狀態</th>
            <th>時間</th>
          </tr>
        </thead>
        <tbody>
          <% current_user.messages.unread_messages.each do |msg| %>
            <tr>
              <td>
                <%= link_to message_read_message_path(msg),method: :post,class:'' do %>
                  <%= msg.content %>
                <% end %>  
              </td>
              <td>
                未讀
              </td>
              <td>
                <%= msg.created_at.strftime("%Y/%m/%d %H:%M") %>
              </td>
            </tr>
          <% end %>
          <% current_user.messages.read_messages.each do |msg| %>
            <tr>
              <td>
                <%= link_to root_path,class:'' do %>
                  <%= msg.content %> 
                <% end %>
              </td>
              <td>
                已讀
              </td>
              <td>
                <%= msg.created_at.strftime("%Y/%m/%d %H:%M") %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="column is-2 is-offset-1">
      <div class="infoside">
        <div class="group-title">您有的群組</div>
        
        <% current_user.groups.each do |group| %>
          <div class="group-name">
            <%= link_to group_stores_path(group),class:'link dark-content' do %>
              <%= group.name %>    
            <% end %>
            
          </div>    
        <% end %>
        
      </div>
    </div>
  </div>

</div>