<div class="outsider">
    <div class="columns">
      <div class="column is-6">
        <div class="title is-5">
          <%= t(:目前有的菜單) %>：
        </div>  
        <div class="columns is-multiline">
          <% @items.each do |item| %>
            <div class="column is-6">
              <div class="box background-light-gray">
                <span class="title is-6 title-dark"><%= item.name %></span>
                <span class="title is-6 title-dark">$ <%= item.price %></span>
                
                <%= link_to admin_store_item_path(@store,item),method: :delete,data:{confirm:'確定要刪除這個菜單嗎？'} do  %>
                  <i class="fa-solid fa-xmark"></i>
                
                <% end %>
              </div>
            </div>
          <% end %>
          
        </div>
        
      </div>
      <div class="column is-6 ">
        <div class="card card-dark" >
            <div class="card-content">
            <h1 class="title is-5"><%= t(:新增菜單) %></h1>
              <%= form_for Item.new, url:admin_store_items_path(@store) do |f| %>
                <div class="field">
                  <%= f.label :name, class:'label title-dark' do %>
                    <%= t(:名稱) %>
                  <% end %>
                   
                  <div class="control">
                    <%= f.text_field :name, class:'input is-small' %>
                  </div>
                </div>

                <div class="field">
                  <%= f.label :price, class:'label title-dark' do %>
                    <%= t(:價格) %>
                  <% end %>
                  
                  <div class="control">
                    <%= f.text_field :price, class:'input is-small' %>
                  </div>
                </div>

                <div class="field">
                  <%= f.label :logo, class:'label title-dark' do %>
                    <%= t(:圖片) %>
                  <% end %>
                  
                  <div class="control">
                    <%= f.file_field :logo %>
                  </div>
                </div>

                <div class="field">
                  <%= f.submit class:'button button-dark  is-fullwidth is-small' do %>
                    <%= t(:送出) %>
                  <% end %>
                  
                </div>
                <div class="field">
                  <%= link_to edit_admin_store_path(@store), class:'button button-dark is-small' do %>
                    <%= t(:返回上一頁) %>
                  <% end %>
                  
                </div>
              <% end %>
            </div>
        </div>
      </div>
  </div>
</div>