<div class="outsider">
    <div class="columns">
      <div class="column is-6">
        <div class="title is-5">
          目前有的菜單：
        </div>  
        <div class="columns is-multiline">
          <% @items.each do |item| %>
            <div class="column is-6">
              <div class="box">
                <span class="title is-6"><%= item.name %></span>
                <span class="title is-6">$ <%= item.price %></span>
                
                <%= link_to admin_store_item_path(@store,item),method: :delete,data:{confirm:'確定要刪除這個菜單嗎？'} do  %>
                  <i class="fa-solid fa-xmark"></i>
                
                <% end %>
              </div>
            </div>
          <% end %>
          
        </div>
        
      </div>
      <div class="column is-6 ">
        <div class="card">
            <div class="card-content">
            <h1 class="title is-5">新增菜單</h1>
              <%= form_for Item.new, url:admin_store_items_path(@store) do |f| %>
                <div class="field">
                  <%= f.label :name, '名稱', class:'label' %>
                  <div class="control">
                    <%= f.text_field :name, class:'input' %>
                  </div>
                </div>

                <div class="field">
                  <%= f.label :price, '價格', class:'label' %>
                  <div class="control">
                    <%= f.text_field :price, class:'input' %>
                  </div>
                </div>

                <div class="field">
                  <%= f.label :logo, '圖片', class:'label' %>
                  <div class="control">
                    <%= f.file_field :logo %>
                  </div>
                </div>

                <div class="field">
                  <%= f.submit '確定',class:'button style-1 is-fullwidth is-small' %>
                </div>
                <div class="field">
                  <%= link_to "返回上一页", :back %>
                </div>
              <% end %>
            </div>
        </div>
      </div>
  </div>
</div>