<div class="outsider">
    <div class="columns">
        <div class="column is-9">
            <div class="title is-4"> <%= t(:您的店家) %></div>
            <% if @stores.present? %>
                <% @stores.each do |store| %>
                    <div class="card padding-fix-1 card-mb card-height card-dark">
                        <div class="columns gapless">
                            <div class="column is-5 padding-none">
                                <div class="card-content card-content-fix has-border-right">
                                    <div class="media">
                                        <div class="media-left">
                                        <figure class="image is-48x48">
                                            <% if store.cover.attached? %>
                                                <%= image_tag store.cover.variant(resize:'120x120') %>
                                            <% else %>
                                                <img src="http://via.placeholder.com/48x48" alt="placeholder">
                                            <% end %>
                                            
                                        </figure>
                                        </div>
                                        <div class="media-content">
                                        <span class="title is-5"><%= store.name %></span> | 
                                        <% if store.state == 'pending' %>
                                            <span class="state-pending">準備中</span>
                                        <% elsif store.state == 'online' %>
                                            <span class="state-f">上線</span>
                                        <% else %>
                                            <span class="state-offline">關閉</span>
                                        <% end %>
                                        <br>
                                        <p class="subtitle is-6">@kevingu</p>
                                        </div>
                                        
                                    </div>
                                    <div class="content">
                                        <%= store.description.truncate(50) %>
                                    </div>
                                    <div class="">
                                        <div class="">
                                        <span class="title is-6"><%= store.items.count %></span>
                                        <span class="subtitle is-6"> <%= t(:項商品) %></span>
                                        <span class="subtitle is-6"> <%= t(:聯絡電話) %>：</span>
                                        <span class="title is-6"><%= store.phone %></span>
                                        </div>
                                        <div class="">
                                        
                                        </div>
                                        <div class="">
                                        <span class="subtitle is-6"><%= t(:地址)%>：</span>
                                        <span class="title is-6"><%= store.address %></span>
                                        </div>
                                        
                                    </div>
                                    
                                    <Commentarea :store-id="<%= store.id %>" :group-id="<%= @group.id %>" 
                                                :user-id="<%= current_user.id %>" user-name="<%= current_user.name %>"
                                                v-on:close-board="closeBoard"></Commentarea>
                                    
                                    
                                </div>
                            </div>
                            <div class="column is-7 padding-none">
                                <div class="store-menu store-menu-fix store-menu-dark">
                                    <div class="titlebar has-text-centered menubar-dark"><%= t(:菜單) %></div>

                                    <div class="card-content card-content-fix overflow-fix card-content-dark">
                                        <div class="columns is-multiline">
                                            <% store.items.each do |item| %>
                                                <div class="column is-4">
                                                    <div class="card">
                                                        <div class="card-image">
                                                        <figure class="image is-4by3">
                                                            <img src="http://via.placeholder.com/1600x900" alt="placeholder">
                                                        </figure>
                                                        </div>
                                                        <div class="padding-fix item-content-dark">
                                                            <span><%= item.name %></span>
                                                            <span class="title is-6">$<%= item.price %></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% else %>
                <%= link_to '找尋店家','/stores',class:'button' %>
            <% end %>
            
        </div>
        <div class="column is-3">
            <div class="title is-4">
                <%= @group.name  %>
            </div>
            <div class="divider"></div>
            <%= link_to group_purchases_path,class:'btn' do  %>
                <%= t(:正在進行的團購！) %>
                
            <% end %>
            <%= link_to '/stores',class:'btn' do %>
                <%= t(:找尋店家) %>
            <% end %>
            
            <%= link_to purchases_done_path(@group),class:'btn' do  %>
                <%= t(:歷史訂單) %>
                
            <% end %>
            <%= link_to group_member_path(@group),class:'btn' do  %>
                <%= t(:成員) %>(<%= @group.users.count %>)
            <% end %>
            <%= link_to new_group_purchase_path,class:'btn' do  %>
                <%= t(:開啟新團購) %>
                
            <% end %>
            <%= link_to edit_group_path(@group),class:'btn' do  %>
                <%= t(:設定群組) %>
                
            <% end %>
            
            
        </div>
    </div>
</div>

