<%= form_for @group do |f| %>
    <div class="field">
        <%= f.label :name, '群組名稱',class:'label title-dark' %>
        <div class="control">
            <%= f.text_field :name ,class:'input is-small background-light-gray color-white' %>
        </div>
    </div>
    <div class="field">
        <%= f.label :cover, '群組圖片上傳',class:'label title-dark' %>
        <div class="control mb-2">
            <%= f.file_field :cover %>
        </div>
        <%= image_tag @group.cover.variant(resize:'190x120') if @group.cover.attached? %>
    </div>
    <% if @group.users.first.present? %>
        <div class="title is-6">
            管理員： <br>
            <span class="subtitle is-6"><%= @group.users.first.email %></span>
        </div>
    <% else %>

    <% end %>
    
    
    
    <div class="divider"></div>
    <div class="field">
        <%= f.submit '送出', class:'button is-small button-dark is-fullwidth' %>
    </div>
<% end %>  