<div class="outsider">
    <div class="columns">
        <div class="column is-3">
            <%= link_to '#', class:'btn' do %>
                <i class="fa-solid fa-user-group icon-fix"></i>
                <span> 群組</span>
            <% end %>
            <%= link_to new_group_path, class:'btn' do %>
                <i class="fa-regular fa-plus icon-fix"></i>
                <span>建立新群組</span>
            <% end %>
            <%= link_to pending_purchases_path, class:'btn' do  %>
                <i class="fa-solid fa-bag-shopping icon-fix"></i>
                <span>現在進行的團購</span>
            <% end %>

            <div class="divider"></div>

        </div>
        <div class="column is-9">
            <% if current_user.groups.present? %>
                <div class="columns is-multiline">
                    <% @groups.each do |g| %>
                        <div class="column is-6">
                            <div class="group-container-dark ">
                                <div class="group-content">
                                    <%= link_to group_stores_path(g.id) do  %>
                                        <% if g.cover.attached? %>
                                            <div class="group-cover">
                                                <%= image_tag g.cover.variant(resize:'600x400') ,class:'image' %>
                                            </div>
                                        <% else %>
                                            <div class="group-cover">
                                                <img src="http://via.placeholder.com/400x220" alt="placeholder" class="image" >
                                            </div>
                                        <% end %> 
                                    <% end %> 
                                </div>
                                <div class="group-title">
                                    <div class="group-icon mt-2 mr-2">
                                        <% if g.cover.attached? %>
                                            <%= image_tag g.cover.variant(resize:'300x200')  %>
                                        <% else %>
                                            <img src="http://via.placeholder.com/40x40" alt="placeholder">
                                        <% end %>
                                        
                                    </div>
                                    <div class="title is-5 title-dark  group-name"><%= g.name %></div>
                                    
                                    
                
                                </div>
                                
                            </div>  
                        </div>
                    <% end %>
                    
                </div>
            <% else %>
                <div class="title is-5">歡迎來到17團購！</div>
                 <div class="group-content">
                    <%= link_to new_group_path do  %>
                        <div class="card card-group-fix">
                            <div class="title is-6 center">
                                + 點我 建立一個新群組
                            </div>
                        </div>
                    <% end %>
                    
                </div>
            <% end %>
            
            
        </div>
    </div>
</div>

