<div class="outsider">
  <div class="columns">
    <div class="column is-6">
      <div class="box background-light-gray">
        <div class="title is-5">
          群組成員有：
        </div>
        
        <% @group.users.each do |user| %>
          <p class="mb-2">
            <%= user.email%>
            <% if user.email == @group.users.first.email%>
              <i class="fa-solid fa-crown ml-2"></i>
            <% end %>
          </p>
        <% end %>
        
      </div>
    </div>
    <div class="column is-3 is-offset-2">
      <div class="title is-5">
        <%= @group.name %>
      </div>
      <%= link_to '回到群組', group_stores_path(@group),class:'button is-small is-fullwidth mb-2 button-dark' %>
      <a href="#" class="button mb-2 is-small is-fullwidth button-dark" @click="showInvite">邀請其他使用者</a>
      <div class="mt-2" v-if="inviteEditing">
        <%= form_for Message.new, url:'messages/send',method: :post do |f| %>
          <div class="field">
            
            <div class="control">
              <%= f.text_field :user_id, class:'input is-small is-rounded', placeholder: '輸入使用者的 email' %>
            </div>
          </div>
          <div class="field">
            <%= f.submit '送出邀請', class:'button is-small' %>
          </div>
          <div class="field">
            
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
</div>