<div class="outsider">
  <div class="columns">
    <div class="column is-10 ">
      <div class="title is-5">團購紀錄</div>
      <table class="table is-hoverable  dark-table">
        <thead class="thead">
          <tr>
            <th>訂單編號</th>
            <th>店家名稱</th>
            <th>訂購日期</th>
            <th>訂購商品</th>
            <th>總金額</th>
          </tr>
        </thead>
        <tbody>
        <% @orders.each do |order| %>
          
          <% if order.total_price != 0 %>
            <tr>
              <td><%= order.purchase.id %></td>
              <td><%= order.purchase.store.name %></td>
              <td><%= order.purchase.end_time.strftime("%m/%d %I:%M") %></td>
              <td>
                <% order.ordered_items.each do |order_item| %>
                  <% if order_item.item.present? %>
                    <%= order_item.item.name %>  x
                    <%= order_item.quantity %> 
                  <% end %>
                <% end %> 
              </td>
              <td>$ <%= order.total_price %></td>
            </tr>
          <% end %>
          
          
        <% end %>
      </tbody>
  </table>
    </div>
    <div class="column is-2">
      <br><br>
      <%= link_to '回到首頁', '/', class:'button is-small is-fullwidth mb-2 button-dark' %>
      <%= link_to '正參加的團購',pending_purchases_path,class:'button is-small is-fullwidth button-dark' %>
    </div>
  </div>
  
  
</div>