<section class="section">
    <div class="container">
        
        <div class="columns">
            <div class="column is-4 is-offset-4">
                <h1 class="title is-4">提議</h1>
                <div class="box">
                    <%= form_for [@group,@purchase] do |f| %>
                        <div class="field">
                            <%= f.label :time_perid,'時段', class:'label' %>
                            <div class="control">
                                <span class="select">
                                   <%= f.select :time_period, ['早餐','午餐','下午茶','晚餐'] %> 
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <%= f.label :store_id,'店家', class:'label' %>
                            <div class="control">
                                <span class="select">
                                   <%= f.collection_select :store_id, @group.stores.all, :id, :name %> 
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <%= f.label :end_time,'截止日期', class:'label' %>
                            <div class="control">
                                <%= f.datetime_select :end_time %>
                            </div>
                        </div>
                        <div class="field">
                            <%= f.submit '確定', class:'button style-1' %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>