<div class="outsider">
  <div class="columns">
    <div class="column is-12 ">
      <h1 class="title is-4 title-dark">菜單</h1>
      <div class="columns">
        
        <div class="column is-6">
          <table class="table is-fullwidth is-hoverable dark-table">
            <thead>
              <tr>
                <th class="th">圖片</th>
                <th class="th">名稱</th>
                <th class="th">價格</th>
              </tr>
            </thead>
            <tbody>
              <% @purchase.store.items.each do |item| %>
                <tr>
                  <td><%= image_tag item.logo.variant(resize:'50x50') if item.logo.attached? %></td>
                  <td><%= item.name %></td>
                  <td>$ <%= item.price %></td>
                </tr>
              
              <% end %>
            </tbody>
          </table>
          
        </div>

        <div class="column is-4">
          <div class="card card-dark">
            <div class="card-content">
              <div class="title is-5">
                <div class="level">
                  <div class="level-left">
                    團購：<%= @purchase.store.name %>
                  </div>
                  <div class="level-right">
                    <% if @purchase.user.email == current_user.email %>
                      <span class="title is-6">
                        <%= link_to '取消團購', group_purchase_path(@purchase.group),method: :delete,class:'style-4 color-white',data: {confirm:"確定要取消本次團購嗎？"} %>
                      </span>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="">
                <i class="fa-solid fa-user mr-2"></i>
                <%= @purchase.user.email %> 發起
              </div>
              <div class="">
                <i class="fa-regular fa-clock mr-2"></i>
                截止時間為 <%= @purchase.end_time.strftime('%m/%d %H:%M') %>
              </div>
              
              <br>
              <h1 class="title is-5">您的購物清單</h1>
              <%= form_for [@group,@purchase, @order] do |f| %>
                <%= f.fields_for :ordered_items do |item_form| %>
                  <%= render 'ordered_item_fields', f: item_form %>
                <% end %>
                <div class="field">
                  <%= link_to_add_association '點餐',f,:ordered_items, class:'button is-success is-small is-outlined' %>
                </div>

                <div class="field">
                  <%= f.submit '確定送出', class:'button button-dark is-fullwidth is-small' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="column is-2 ">
          <%= link_to group_stores_path(@group), class:'btn-2 color-white' do %>
            <p>回到群組</p>
          <% end %>
          <%= link_to group_purchases_path(@group), class:'btn-2 color-white' do %>
            <p>進行中的團購</p>
          <% end %>
          
        </div>
      </div>
    </div>
    
  </div>
</div>

