<div class="columns">
  <div class="column is-8 is-offset-2">
    <div>您正在由 <%= @purchase.user.email %>發起的團購中，團購截止時間為 <%= @purchase.end_time.strftime('%m/%d/%H:%M') %>
      <% if (@purchase.end_time>Time.now) %>
        <%= time_ago_in_words(@purchase.end_time) %>
      <% else %>
        <span>時間已經截止了</span>
      <% end %>
    </div> 
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-6">
            <h1 class="title is-4">菜單</h1>
            <% @purchase.store.items.each do|item| %>
              
              <div class="box is-fullwidth">
                <img src="http://via.placeholder.com/48x48" alt="placeholder">
                <%= item.name %> $<%= item.price %>

              </div>
              
            <% end %>

          </div>

          <div class="column is-6">
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    
                  </div>
                  <div class="media-content">
                    <p class="title is-4">店家：<%= @purchase.store.name %></p>
                  </div>
                </div>
                
                <h1 class="title is-5">您的購物清單</h1>
                <%= form_for [@purchase, @order] do |f| %>
                  <%= f.fields_for :ordered_items do |item_form| %>
                    <%= render 'ordered_item_fields', f: item_form %>
                  <% end %>
                  <div class="field">
                    <%= link_to_add_association '點餐',f,:ordered_items, class:'button is-success is-small is-outlined' %>
                  </div>

                  <div class="field">
                    <input type="submit" value="確定" class="button style-1  is-fullwidth is-small">
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </section>
  </div>
</div>
