<nav class="navbar dark-mode" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item-logo" href="/">
      <span class="logo-title " style="margin-right:6px;">17團購</span>
      <i class="fa-solid fa-cart-shopping fa-xl"></i>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
    </div>

    <div class="navbar-end">
      
      <div class="dropdown is-hoverable mr-2 dropdown-positon">
        <div class="dropdown-trigger">
          <button class="navbar-item navbar-item-icon" aria-haspopup="true" aria-controls="dropdown-menu4">
            <%= link_to '/stores', class:'nav-icon-fix' do %>
              <i class="fa-solid fa-store fa-xl"></i>
            <% end %>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
          <div class="dropdown-content dropdown-content-fix">
            <div class="icon-hover">店家</div>
            <div class="dropdown-item ">
              
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown is-hoverable mr-2 dropdown-positon">
        <div class="dropdown-trigger">
          <button class="navbar-item navbar-item-icon" aria-haspopup="true" aria-controls="dropdown-menu4">
            <%= link_to purchases_history_path, class:'nav-icon-fix' do %>
              <i class="fa-solid fa-file icon-fix-1 fa-xl"></i>
            <% end %>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
          <div class="dropdown-content dropdown-content-fix">
            <div class="icon-hover">紀錄</div>
            <div class="dropdown-item ">
              
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-item-kg">
        <div class="buttons">
          <% if user_signed_in? %>
            <div class="dropdown is-hoverable">
              <div class="dropdown-trigger">
                <button class="button button-fix" aria-haspopup="true" aria-controls="dropdown-menu">
                  <span><%= current_user.email %></span>
                  <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <%= link_to '個人資料修改', edit_user_registration_path,class:'dropdown-item' %>
                  <%= link_to '切換至商家', admin_stores_path, class:'dropdown-item' %>
                  <%= link_to messages_path, class:'dropdown-item' do %>
                    <span>訊息通知</span>
                    <% if current_user.messages.unread_messages.any? %>
                      <i class="fa-sharp fa-solid fa-circle-exclamation is-alarm"></i>
                    <% end %>  
                  <% end %>
                  <%= link_to '進行中的團購',pending_purchases_path,class:'dropdown-item' %>
                  <%= link_to '切換模式','#',class:'dropdown-item toggle-mode' %>
                  <hr class="dropdown-divider">
                  <% if user_signed_in? %>
                    <%= link_to '登出', destroy_user_session_path, method: :delete, class:'dropdown-item'  %>
                  <% else %>
                    
                  <% end %>
                </div>
              </div>
            </div>
          <% else %>
            <%= link_to '登入', new_user_session_path, class:'button'  %>
            <%= link_to '註冊', new_user_registration_path, class:'button'  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>