<%= form_for [:admin,@store] do |f| %>
    <div class="columns">
    <div class="column is-6">
        <div class="field">
            <%= f.label :cover,class:'label title-dark' do %>
                <%= t(:店家圖片) %>
            <% end %>
            
            <div class="control mb-2">
                <%= f.file_field :cover %>
            </div>
            <%= image_tag @store.cover.variant(resize:'320x260') if @store.cover.attached? %>
        </div>
    </div>
    <div class="column is-6">
        <div class="field">
            <%= f.label :name, class:'label title-dark' do %>
                <%= t(:名稱) %>
            <% end %>
            
            <div class="control">
                <%= f.text_field :name, class:'input' %>
                <% @store.errors.full_messages_for(:name).each do |msg| %>
                    <p class="help is-danger"><%= msg %></p>
                <% end %>
            </div>
        </div>
        <div class="field">
            <%= f.label :address, class:'label title-dark' do %>
                <%= t(:地址) %>
            <% end %>
            
            <div class="control">
                <%= f.text_field :address, class:'input' %>
                <% @store.errors.full_messages_for(:address).each do |msg| %>
                    <p class="help is-danger"><%= msg %></p>
                <% end %>
            </div>
        </div>
        <div class="field">
            <%= f.label :phone, class:'label title-dark' do %>
                <%= t(:電話) %>
            <% end %>
            
            <div class="control">
                <%= f.text_field :phone, class:'input' %>
                <% @store.errors.full_messages_for(:phone).each do |msg| %>
                    <p class="help is-danger"><%= msg %></p>
                <% end %>
            </div>
        </div>
        <div class="field">
            <%= f.label :description, class:'label title-dark' do %>
                <%= t(:簡單描述) %>
            <% end %>
            
            <div class="control">
                <%= f.text_area :description, class:'textarea' %>
                <% @store.errors.full_messages_for(:description).each do |msg| %>
                    <p class="help is-danger"><%= msg %></p>
                <% end %>
            </div>
        </div>
        <div class="field">
            <%= f.submit class:'button button-dark is-fullwidth is-small' do %>
                <%= t(:修改) %>
            <% end %>
            
            
        </div>
        <div class="field">
            
            <%= link_to :back ,class:'button is-small button-dark' do %>
                <%= t(:返回上一頁) %>
            <% end %>
            
                 
        </div>
    </div>
    </div>
<% end %>