<div class="outsider backgroun-border-white">
  <div class="columns">
    <div class="column is-6">
      <div class="title is-5"><%= t(:您管理的店家) %></div>
      <% if @stores.present? %>
        <% @stores.each do |store| %>
          <div class="card columns card-dark border-white">
            <div class="card-image column is-6">
              <%= link_to '#' do  %>
                <%= link_to edit_admin_store_path(store) do %>
                  <figure class="image is-4by3">
                    <% if store.cover.attached? %>
                      <%= image_tag store.cover.variant(resize: '960x720') %>
                    <% else %>
                      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                    <% end %>
                  </figure>
                <% end %>
              <% end %>
              
            </div>
            <div class="card-content column is-6">
              <div class="media">
                <div class="media-content">
                  <%= link_to edit_admin_store_path(store) do %>
                    <p class="title is-5">
                      <%= store.name %> | 
                      <% if store.state == 'online' %>
                        <span class="state-online title is-6"><%= t(:上線) %></span>
                      <% elsif store.state == "offline" %>
                        <span class="state-offline title is-6"><%= t(:關閉中) %></span>
                      <% else %>
                        <span class="state-pending title is-6"><%= t(:準備中) %></span>
                      <% end %>
                      
                    </p>
                  <% end %>
                  
                  <p class="subtitle is-6"><%= store.user.email %></p>
                </div>
              </div>

              <div class="content">
                <%= t(:建立的時間) %>：
                <time datetime="2016-1-1"><%= store.created_at.strftime("%Y/%m/%d %H:%M") %></time>
              </div>
            </div>
          </div>
          <br>
        <% end %>  
        
      <% else %>
        <%= link_to new_admin_store_path, class:'button' do %>
          <%= t(:開始你的店家) %>
        <% end %>
        
      <% end %>
      
      
    </div>
    <div class="column is-6">
       <div class="title is-5 mb-2">
        <%= t(:您的訂單) %>：
       </div>
       <div class="box height-fix-1 background-black border-white">
        <%= t(:今日) %>(<%= Time.now.strftime("%Y/%m/%d") %>)<%= t(:未完成訂單) %>： 
        <% @purchases_paid.each do |purchase| %>
          <div class="box background-light-gray">
            <%= purchase.store.name %> | 
            <% if purchase.state == 'pending' %>
              <span class="state-p"><%= t(:等待中) %></span>
              | <%= t(:訂單送出時間) %>：<%= purchase.end_time.strftime("%m/%d %I:%M") %>
            <% else %>
              <span class="state-p"><%= t(:已完成) %></span>
            <% end %>
            <br>
            <%= t(:訂單編號) %>：<%= purchase.id %>,   <%= t(:訂購人) %>： <%= purchase.user.email %>
            <% purchase.orders.each do |order| %>
              <% order.ordered_items.each do |order_item| %>
                <br>
                <%= order_item.item.name %> <%= t(:數量) %>：
                <%= order_item.quantity %> 
              <% end %>  
            <% end %>
            <br>
            <div class="columns mt-2">
              <div class="column is-9">
                <%= link_to purchase_finished_path(purchase.group,purchase,{'purchase_id':purchase.id}),method: :post,class:'button is-small is-fullwidth' do %>
                  <%= t(:完成訂單) %>
                <% end %>
                
              </div>
              <div class="column is-3">
                <%= link_to purchase_refunded_path(purchase.group,purchase,{'purchase_id':purchase.id}),method: :post,class:'button is-small is-fullwidth' do %>
                  <%= t(:空單取消) %>    
                <% end %>
            
              </div>
            </div>
             
          </div>
        <% end %>
        
      
       
        
      </div>
      <div class="title is-5 title-dark">
        <%= t(:已完成訂單) %>：
      </div>
      <div class="box background-black border-white height-fix-2">
        <% @purchases_done.each do |purchase| %>
          <div class="box background-light-gray">
            <span class="state-f"><%= t(:已完成) %></span>
            <span><%= t(:訂單編號) %>： <%= purchase.id %></span>
            <span><%= t(:總金額) %>： <%= purchase.total_income %></span>
          </div>
        <% end %>
      </div>
    </div>
    <div class="column is-3">
      
    </div>
  </div>
</div>