
<div class="outsider">
  <div class="title is-4"><%= t(:店家訂單總覽) %>：</div>
  <% @stores.each do |store| %>
    <div class="divider"></div>
    <p class="title is-5 title-dark">
      <%= store.name %>
    </p>
    <div class="columns ">
        <div class="column is-9 height-fix-1">
          <% store.purchases.each do |purchase| %>
            <% if purchase.state == 'pending' %>
              
            <% elsif purchase.state === 'finished' %>
              <div class="box background-light-gray">
                <%= purchase.store.name %> | <span class="state-f"><%= t(:已完成) %></span>
                
                <br>
                <%= t(:訂單編號) %>：<%= purchase.id %>,   <%= t(:訂購人) %>： <%= purchase.user.email %>
                
                <br>
                <div class="level">
                  <div class="level-left">
                    <% purchase.orders.each do |order| %>
                      <p>
                        <% order.ordered_items.each do |order_item| %>
                          <% if order_item.item.present? %>
                            <%= order_item.item.name %> x
                            <%= order_item.quantity %>, 
                          
                          <% end %>
                          
                        <% end %> 
                      </p>
                    <% end %>
                  </div>
                  <div class="level-right">
                    <span class="title is-6 title-dark">
                      <%= t(:收入) %>：  <%= purchase.total_income %>
                    </span> 
                  </div>
                </div>
                
                
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="column is-3">
          <div class="box background-light-gray border-white">
            <p><%= t(:本月訂單量) %>： <%= store.purchases.finished_purchase.count %></p>
            <p><%= t(:本月收益) %>： <%= store.total_income %></p>
            <p><%= t(:退回訂單) %>： <%= store.purchases.refunded.count %></p>
          </div>
        </div>
      
    </div>
    
    
    

  <% end %>
  
</div>