<div class="footer-kg background-black">
  <div class="outsider">
    <div class="columns">
      <div class="column is-3">
        <div class="color-yellow">
          17Buy 團購網  
        </div>
      
      </div>
      <div class="column is-3">
        <div class="title is-6">
          <%= t(:店家) %>
        </div>
        <div><%= t(:推薦) %></div>
        <div><%= t(:分類) %></div>
        <div><%= t(:優惠中) %></div>
        <div class="subtitle is-6"></div>

      </div>
      <div class="column is-3">
        <div class="title is-6">
          <%= t(:搜尋) %>
        </div>
        <div class=""><%= t(:日式套餐) %></div>
        <div class=""><%= t(:韓式餐點) %></div>
        <div class=""><%= t(:台灣小吃) %></div>
      </div>
      <div class="column is-3">
        <div class="title is-6">
          <%= t(:連結) %>
        </div>
        <div><%= t(:與我聯絡) %></div>
      </div>
    </div>
    <div class="divider"></div>
    © 2023 KevinGu
  </div>
  <br>
  <br>
</div>