<nav class="navbar style-3-fix" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item style-3-fix" href="/admin/stores">
      <span class="logo-title " style="margin-right:6px;">17<%= t(:購) %></span>
      <i class="fa-solid fa-cart-shopping fa-xl"></i>
    </a>

    
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start"> 
      <%= link_to  new_admin_store_path, class:'navbar-item style-3-fix' do %>
        <%= t(:建立店家) %>
      <% end %>
      
      <%= link_to purchases_admin_stores_path,class:'navbar-item style-3-fix' do %>
        <%= t(:訂單總覽) %>
      <% end %>
      
    </div>

    <div class="navbar-end">
      <div class="dropdown is-hoverable mr-2 dropdown-positon backend-nav-icon style-3-fix">
        <div class="dropdown-trigger">
          <button class="navbar-item navbar-item-icon navbar-item-light" aria-haspopup="true" aria-controls="dropdown-menu4">
            <a href="#" class=' nav-icon-fix icon-fix-1'>
              <i class="fa-solid fa-globe fa-xl icon-positon-mode"></i>
            </a>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
          <div class="dropdown-content back-dropdown-content-fix-lang dark-dropdown-content-fix-lang">
            <div class="icon-hover ">
              <%= link_to "English", url_for(locale: :en), class:'style-3-fix' %> 
              <div class="divider"></div>
              <%= link_to "中文", url_for(locale: :'zh-TW'), class:'style-3-fix' %>
            </div>
            <div class="dropdown-item ">
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown is-hoverable mr-2 dropdown-positon backend-nav-icon">
        <div class="dropdown-trigger">
          <button class="navbar-item navbar-item-icon navbar-item-light style-3-fix" aria-haspopup="true" aria-controls="dropdown-menu4">
            <a href="#" class=' nav-icon-fix icon-fix-1' @click="changeMode">
              <i class="fa-solid fa-repeat fa-xl icon-positon-mode"></i>
            </a>
          </button>
        </div>
        <div class="dropdown-menu " id="dropdown-menu4" role="menu">
          <div class="dropdown-content dropdown-content-fix-1 dark-nav-icon">
            <div class="icon-hover" style="font-weight: bold;">切換模式</div>
            <div class="dropdown-item ">
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-item">
        <div class="buttons ">
          <% if user_signed_in? %>
            <div class="dropdown is-right is-hoverable">
              <div class="dropdown-trigger">
                <button class="button button-fix style-3-fix" aria-haspopup="true" aria-controls="dropdown-menu">
                  <span><%= current_user.name %></span>
                  <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <%= link_to edit_user_registration_path,class:'dropdown-item' do  %>
                    <%= t(:個人資料修改) %>
                  <% end %>
                  
                  <%= link_to root_path, class:'dropdown-item' do %>
                    <%= t(:回到17團購) %>
                  <% end %>
                  
                
                  <hr class="dropdown-divider">
                  <% if user_signed_in? %>
                    <%= link_to destroy_user_session_path, method: :delete, class:'dropdown-item' do  %>
                      <%= t(:登出) %>
                    <% end %>
                    
                  <% else %>
                    
                  <% end %>
                </div>
              </div>
            </div>
          <% else %>
            <%= link_to '登入', new_user_session_path, class:'button'  %>
            <%= link_to '註冊', new_user_registration_path, class:'button'  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>