<!DOCTYPE html>
<html>
  <head>
    <title>17Go</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="dark-mode" id="body">
    <div id="board">
      <%= render 'shared/navbar' %>
      <%= yield %>
      <button class="btn-kg" @click="closeBoard "v-if="postitclose" >
        <i class="fa-solid fa-xmark"></i>
      </button>
      <div class="postitBtn" @click="showBoard">
        <i class="fa-solid fa-chess-board fa-2xl"></i>
        <div class="postitBoard" v-if="postitboard">
          <div class="v-line"></div>
          <div class="v-line"></div>
          <div class="v-line"></div>
          <div class="v-line"></div>
          <div class="v-line"></div>
          <div class="v-line"></div>
          <div class="v-line"></div>
          <div class="v-line"></div>
          <div class="v-line"></div>
          <div class="v-line"></div>
          <div class="v-line"></div>
          <Transition-Group name="fade" tag="ul">   
            <li class="postit" v-for="(p, pid) in postits" :key="pid" :style="postitCss(p)" @mousedown="selectId($event, pid, p)">
              
              <input class="text" v-model="p.content" ref="name1" :style="inputCss(p)" @change="changeText($event,p)">
              </input>
              <div class="colorList">
                <div class="block" v-for="color in colorList" :style="{backgroundColor: getColor(color.name)}" 
                  @click="changeColor(p,color)">
                </div> 
                <button class="btn" @click="focusOn(pid)">
                  <i class="fa-solid fa-pencil"></i>
                </button>
                
                <button class="btn" @click="deletePost(p.id,pid)">
                  <i class="fa-solid fa-trash-can"></i>
                </button>
              </div> 
            </li>
          </Transition-Group>
          
          <ul class="dataset">
            
            <button class="btn" @click="addPost" >
              <i class="fa-solid fa-plus"></i>
            </button>
            
          </ul>
         
        </div>
      </div>
    </div>
    <%= render 'shared/flash' if notice %>
    <%= render 'shared/footer' %>
  </body>
</html>
