<!DOCTYPE html>
<html>
  <head>
    <title>17Go</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="" id="body">
    <div id="board">
      <div class="login-page">
        <%= render 'shared/navbar' %>
        <%= yield %>  
      </div>
      
    </div>
  </body>
</html>